body {
  background: #e7ecf2;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Roboto;
  font-size: 14px;
  color: rgb(18, 34, 54);
  display: flex;
  justify-content: center;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 20px;
  line-height: 25px;
}
